In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

# 1. Read the case, department, and source data into their own spark dataframes.

In [2]:
case = spark.read.csv("data/case.csv", header=True, inferSchema=True)
case.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 SLA_due_date         | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST,...
 council_district     | 5
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, ...
 council_district     | 3
only showing top 2 rows

In [3]:
dept = spark.read.csv("data/dept.csv", header=True, inferSchema=True)

In [4]:
source = spark.read.csv("data/source.csv", header=True, inferSchema=True)

# 2. Let's see how writing to the local disk works in spark:

- Write the code necessary to store the source data in both csv and json format, store these as sources_csv and sources_json
- Inspect your folder structure. What do you notice?.

In [5]:
source.write.json("data/source_json", mode="overwrite")

In [6]:
#It created a whole new subfolder with 4 files.

# 3. Inspect the data in your dataframes. Are the data types appropriate? Write the code necessary to cast the values to the appropriate types.

In [7]:
case.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 SLA_due_date         | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST,...
 council_district     | 5
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, ...
 council_district     | 3
only showing top 2 rows

In [8]:
case.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: string (nullable = true)
 |-- case_closed_date: string (nullable = true)
 |-- SLA_due_date: string (nullable = true)
 |-- case_late: string (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: string (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: integer (nullable = true)

In [9]:
case = case.withColumnRenamed('SLA_due_date', 'case_due_date')

In [10]:
#change case_late and case_closed to boolean values
case = case.withColumn('case_late', expr('case_late == "Yes"'))
case = case.withColumn('case_closed', expr('case_closed == "Yes"'))

In [11]:
#Make sure council district has at least 3 numbers
case = case.withColumn("council_district", col("council_district").cast("string"))

In [12]:
case = case.withColumn(
    "council_district",
    format_string("%03d", col("council_district").cast("int")),
)

In [13]:
case.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: string (nullable = true)
 |-- case_closed_date: string (nullable = true)
 |-- case_due_date: string (nullable = true)
 |-- case_late: boolean (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: boolean (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: string (nullable = false)

In [14]:
#Change the date format for the necessary columns
fmt = "M/d/yy H:mm"
case = case.withColumn('case_opened_date', to_timestamp('case_opened_date', fmt))
case = case.withColumn('case_closed_date', to_timestamp('case_closed_date', fmt))
case = case.withColumn('case_due_date', to_timestamp('case_due_date', fmt))

In [15]:
case.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: timestamp (nullable = true)
 |-- case_closed_date: timestamp (nullable = true)
 |-- case_due_date: timestamp (nullable = true)
 |-- case_late: boolean (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: boolean (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: string (nullable = false)

In [16]:
# Clean up the address field and create column for zip using regex
case = case.withColumn("request_address", trim(lower(case.request_address)))

In [17]:
case = case.withColumn("zipcode", regexp_extract("request_address", r"\d+$", 0))

In [18]:
case.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: timestamp (nullable = true)
 |-- case_closed_date: timestamp (nullable = true)
 |-- case_due_date: timestamp (nullable = true)
 |-- case_late: boolean (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: boolean (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: string (nullable = false)
 |-- zipcode: string (nullable = true)

In [19]:
dept.printSchema()

root
 |-- dept_division: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- standardized_dept_name: string (nullable = true)
 |-- dept_subject_to_SLA: string (nullable = true)

In [20]:
source.printSchema()

root
 |-- source_id: string (nullable = true)
 |-- source_username: string (nullable = true)

-----------------------------------------------------------------------------------------

1. How old is the latest (in terms of days past SLA) currently open issue? How long has the oldest (in terms of days since opened) currently opened issue been open?

In [22]:
case.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- case_opened_date: timestamp (nullable = true)
 |-- case_closed_date: timestamp (nullable = true)
 |-- case_due_date: timestamp (nullable = true)
 |-- case_late: boolean (nullable = true)
 |-- num_days_late: double (nullable = true)
 |-- case_closed: boolean (nullable = true)
 |-- dept_division: string (nullable = true)
 |-- service_request_type: string (nullable = true)
 |-- SLA_days: double (nullable = true)
 |-- case_status: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- request_address: string (nullable = true)
 |-- council_district: string (nullable = false)
 |-- zipcode: string (nullable = true)

In [23]:
case.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 2018-01-01 00:42:00
 case_closed_date     | 2018-01-01 12:29:00
 case_due_date        | 2020-09-26 00:42:00
 case_late            | false
 num_days_late        | -998.5087616000001
 case_closed          | false
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  el paso st,...
 council_district     | 005
 zipcode              | 78207
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 2018-01-01 00:46:00
 case_closed_date     | 2018-01-03 08:11:00
 case_due_date        | 2018-01-05 08:30:00
 case_late            | false
 num_days_late        | -2.0126041669999997
 case_closed          | false
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  goliad rd, ...
 council_district     | 003
 zipcode              | 78223
only showing top 2 rows

In [24]:
case = (
    case.withColumn(
        "case_age", datediff(current_timestamp(), "case_opened_date")
    )
    .withColumn(
        "days_to_closed", datediff("case_closed_date", "case_opened_date")
    )
    .withColumn(
        "case_lifetime",
        when(expr("! case_closed"), col("case_age")).otherwise(
            col("days_to_closed")
        ),
    )
)

In [43]:
case.show(3, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 2018-01-01 00:42:00
 case_closed_date     | 2018-01-01 12:29:00
 case_due_date        | 2020-09-26 00:42:00
 case_late            | false
 num_days_late        | -998.5087616000001
 case_closed          | false
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  el paso st,...
 council_district     | 005
 zipcode              | 78207
 case_age             | 1065
 days_to_closed       | 0
 case_lifetime        | 1065
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 2018-01-01 00:46:00
 case_closed_date     | 2018-01-03 08:11:00
 case_due_date        | 2018-01-05 08:30:00
 case_late            | false
 num_days_late        | -2.0126041669999997
 case_closed          | false
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  goliad rd, ...
 council_district     | 003
 zipcode              | 78223
 case_age             | 1065
 days_to_closed       | 2
 case_lifetime        | 1065
-RECORD 2------------------------------------
 case_id              | 1014127334
 case_opened_date     | 2018-01-01 00:48:00
 case_closed_date     | 2018-01-02 07:57:00
 case_due_date        | 2018-01-05 08:30:00
 case_late            | false
 num_days_late        | -3.022337963
 case_closed          | false
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.320729167
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 102  palfrey st w...
 council_district     | 003
 zipcode              | 78223
 case_age             | 1065
 days_to_closed       | 1
 case_lifetime        | 1065
only showing top 3 rows

In [26]:
case.createOrReplaceTempView('case_view')

In [34]:
spark.sql(
    """
    SELECT SLA_days
    FROM case_view
    Where case_closed = False
    Order By SLA_days desc;
    
    """
).show(10)

+-----------+
|   SLA_days|
+-----------+
|     1420.0|
| 1419.00191|
|     1419.0|
|     1419.0|
|     1419.0|
|     1419.0|
|1416.063981|
|1414.813009|
|  1414.0136|
|1406.014826|
+-----------+
only showing top 10 rows

In [35]:
spark.sql(
    """
    SELECT case_age
    FROM case_view
    Where case_closed = False
    Order By case_age desc;
    
    """
).show(10)

+--------+
|case_age|
+--------+
|    1430|
|    1430|
|    1430|
|    1430|
|    1430|
|    1430|
|    1430|
|    1430|
|    1430|
|    1430|
+--------+
only showing top 10 rows

2. How many Stray Animal cases are there?

In [37]:
# service_request_type

spark.sql(
    """
    SELECT count(case_view.service_request_type)
    FROM case_view
    Where case_view.service_request_type = "Stray Animal"
    Group By case_view.service_request_type;
    
    """
).show(10)

+---------------------------+
|count(service_request_type)|
+---------------------------+
|                      26760|
+---------------------------+

3. How many service requests that are assigned to the Field Operations department (dept_division) are not classified as "Officer Standby" request type (service_request_type)?

In [47]:
spark.sql(
    """
    SELECT dept_division, count(case_view.service_request_type)
    FROM case_view
    Where case_view.service_request_type != "Officer Standby"
    and dept_division = "Field Operations"
    Group By dept_division;
    
    """
).show()

+----------------+---------------------------+
|   dept_division|count(service_request_type)|
+----------------+---------------------------+
|Field Operations|                     113902|
+----------------+---------------------------+

4. Convert the council_district column to a string column.

In [48]:
case = case.withColumn("council_district", col("council_district").cast("string"))

5. Convert num_days_late from days to hours in new columns num_hours_late.

In [55]:
case = case.withColumn("num_hours_late", col("num_days_late") * 24)

In [56]:
case.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 2018-01-01 00:42:00
 case_closed_date     | 2018-01-01 12:29:00
 case_due_date        | 2020-09-26 00:42:00
 case_late            | false
 num_days_late        | -998.5087616000001
 case_closed          | false
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  el paso st,...
 council_district     | 005
 zipcode              | 78207
 case_age             | 1065
 days_to_closed       | 0
 case_lifetime        | 1065
 num_hours_late       | -23964.2102784
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 2018-01-01 00:46:00
 case_closed_date     | 2018-01-03 08:11:00
 case_due_date        | 2018-01-05 08:30:00
 case_late            | false
 num_days_late        | -2.0126041669999997
 case_closed          | false
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  goliad rd, ...
 council_district     | 003
 zipcode              | 78223
 case_age             | 1065
 days_to_closed       | 2
 case_lifetime        | 1065
 num_hours_late       | -48.302500007999996
only showing top 2 rows

7. Join the case data with the source and department data.

In [59]:
df = (
    case
    # left join on dept_division
    .join(dept, "dept_division", "left")
    # drop all the columns except for standardized name, as it has much fewer unique values
    .drop(dept.dept_division)
    .drop(dept.dept_name)
    .drop(case.dept_division)
    .withColumnRenamed("standardized_dept_name", "department")
    # convert to a boolean
    .withColumn("dept_subject_to_SLA", col("dept_subject_to_SLA") == "YES")
)

In [60]:
source.show(1, vertical=True)

-RECORD 0---------------------------
 source_id       | 100137
 source_username | Merlene Blodgett
only showing top 1 row

In [61]:
df.show(1, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 2018-01-01 00:42:00
 case_closed_date     | 2018-01-01 12:29:00
 case_due_date        | 2020-09-26 00:42:00
 case_late            | false
 num_days_late        | -998.5087616000001
 case_closed          | false
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  el paso st,...
 council_district     | 005
 zipcode              | 78207
 case_age             | 1065
 days_to_closed       | 0
 case_lifetime        | 1065
 num_hours_late       | -23964.2102784
 department           | Animal Care Services
 dept_subject_to_SLA  | true
only showing top 1 row

In [62]:
df = (
    df
    .join(source, "source_id", "left")
)

In [63]:
df.show(1, vertical=True)

-RECORD 0------------------------------------
 source_id            | svcCRMLS
 case_id              | 1014127332
 case_opened_date     | 2018-01-01 00:42:00
 case_closed_date     | 2018-01-01 12:29:00
 case_due_date        | 2020-09-26 00:42:00
 case_late            | false
 num_days_late        | -998.5087616000001
 case_closed          | false
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 request_address      | 2315  el paso st,...
 council_district     | 005
 zipcode              | 78207
 case_age             | 1065
 days_to_closed       | 0
 case_lifetime        | 1065
 num_hours_late       | -23964.2102784
 department           | Animal Care Services
 dept_subject_to_SLA  | true
 source_username      | svcCRMLS
only showing top 1 row

8. Are there any cases that do not have a request source?

In [64]:
spark.sql(
    """
    SELECT case_id, service_request_type
    FROM df
    WHERE source_username = Null;
    
    """
).show()

AnalysisException: Table or view not found: df; line 3 pos 9;
'Project ['case_id, 'service_request_type]
+- 'Filter ('source_username = null)
   +- 'UnresolvedRelation [df]